.productsWrapper {
  width: 100%;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.card {
  background-color: var(--color-dark-gray);
  border: 2.2px solid #a069d7;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 230px;
}

.productImage {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}

.cardContent {
  font-size: 1rem;
  color: var(--color-white);
}

.priceContainer {
  font-size: 1rem;
  margin-top: 10px;
}

.buttonToCart {
  font-size: 0.8rem;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonToCart:hover {
  background-color: var(--color-purple);
}

.linkDetails {
  font-size: 1.1rem;
  margin: 0;
  margin-right: 0.5em;
  cursor: pointer;
  color: var(--color-beige);
  text-decoration: none;
}

.linkDetails:hover,
.linkDetails:focus {
  color: var(--color-purple);
  text-decoration: none;
}
