.filter {
  margin-top: 1rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  width: 80%;
  background-color: rgb(159, 162, 164);
  padding: 10px;
  border-radius: 0.3rem;
  border: solid 2px black;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  color: black;
}

.price:hover,
.price:focus {
  color: purple;
  text-decoration: none;
}

.dropdownItem {
  color: black;
  text-decoration: none;
}

.filterHeader {
  margin: 0;
  margin-bottom: 10px;
}
