.filter {
  margin-top: 1rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  width: 80%;
  background-color: var(--color-secondary); /* Fondo secundario */
  padding: 10px;
  border-radius: 0.3rem;
  border: 2px solid var(--color-black); /* Borde negro */
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  color: var(--color-black); /* Texto negro */
}

.price:hover,
.price:focus {
  color: var(--color-purple); /* Texto morado en hover */
  text-decoration: none;
}

.dropdownItem {
  color: var(--color-black); /* Texto negro */
  text-decoration: none;
}

.filterHeader {
  margin: 0;
  margin-bottom: 10px;
  color: var(--color-dark); /* Texto oscuro */
}
