.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
}

.inputField {
  margin-bottom: 0.7rem;
  padding: 0.6rem;
  width: 200px;
  background-color: var(--color-light); /* Fondo claro para campos de entrada */
  border: 1px solid var(--color-black); /* Borde negro */
  border-radius: 0.3rem;
  font-size: 1.1rem; /* Tamaño de fuente aumentado */
  color: var(--color-black); /* Color de texto negro */
}

.inputField:focus {
  outline: none; /* Eliminar el contorno al enfocar */
  border-color: var(--color-purple); /* Cambiar color del borde al enfocar */
}

.inputField::placeholder {
  color: var(--color-dark-purple); /* Color del placeholder en morado oscuro */
}

.button {
  padding: 0.5rem 0.8rem;
  background-color: var(--color-primary); /* Fondo primario para botón */
  color: var(--color-white); /* Texto blanco */
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(
    --color-purple
  ); /* Cambiar color de fondo al pasar el cursor */
}

.signupContainer {
  margin-top: 0.3rem;
  text-align: center;
}

.header {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.error {
  color: var(--color-error); /* Color de error */
  margin-top: 0.5rem;
}

.success {
  color: var(--color-success); /* Color de éxito */
  margin-top: 0.5rem;
}
