@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --color-primary: #10002b; /* PARA FONDOS */
  --color-secondary: #240046; /* BORDES Y COLORES SECUNDARIOS */
  --color-tertiary: #3c096c;
  --color-accent: #5a189a; /* BOTONES AL ACTIVARSE */
  --color-highlight: #7b2cbf; /* MENSAJES */
  --color-light: #9d4edd; /* FONDO CLARO */
  --color-lighter: #c77dff;
  --color-lightest: #e0aaff; /* TEXTO CLARO */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-lightest);
}
