.main {
  display: flex;
  justify-content: space-between;
  background-color: #575757;
  padding: 20px;
}

.sidebar {
  width: 15%;
}

.content {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
