.container {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary); /* Fondo primario */
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  color: var(--color-lightest); /* Texto claro */
}

.inputField {
  margin-bottom: 0.7rem;
  padding: 0.6rem;
  width: 200px;
  border: 1px solid var(--color-secondary); /* Borde secundario */
  border-radius: 5px; /* Bordes redondeados */
  background-color: var(--color-lightest); /* Fondo claro */
  color: var(--color-primary); /* Texto primario */
}

.button {
  padding: 0.5rem 0.8rem;
  background-color: var(--color-secondary); /* Fondo secundario */
  color: var(--color-lightest); /* Texto claro */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--color-accent); /* Fondo de acento */
}

.signupContainer {
  margin-top: 0.3rem;
  text-align: center;
}

.header {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-lightest); /* Texto claro */
}

.message {
  color: var(--color-highlight); /* Mensaje de acento */
}
