.container {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
}

.inputField {
  margin-bottom: 0.7rem;
  padding: 0.6rem;
  width: 200px;
}

.button {
  padding: 0.5rem 0.8rem;
}

.signupContainer {
  margin-top: 0.3rem;
  text-align: center;
}

.header {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: bold;
}
