.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-primary);
  border-bottom: 3px solid var(--color-accent);
  color: var(--color-lightest);
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5em;
}

.home {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5em;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-lightest);
}

.profile {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  color: var(--color-lightest);
}

.searchInput {
  padding: 0.5em;
  font-size: 1em;
  margin-right: 0.6em;
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--color-lightest);
}

.loginButton {
  padding: 5px 10px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  color: var(--color-lightest);
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5em;
  cursor: pointer;
  color: var(--color-lightest);
}

.link:hover,
.link:focus {
  color: var(--color-highlight);
  text-decoration: none;
}

.profile:hover,
.profile:focus {
  color: var(--color-highlight);
  text-decoration: none;
}

.loginButton:hover,
.loginButton:focus {
  color: var(--color-primary);
  background-color: var(--color-light);
  text-decoration: none;
}

.dropdownMenu {
  position: absolute;
  background-color: var(--color-primary);
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  z-index: 1000;
}

.dropdownItem {
  color: var(--color-lightest);
  text-decoration: none;
  padding: 5px 0;
  display: block;
}

.dropdownItem:hover,
.dropdownItem:focus {
  color: var(--color-highlight);
  text-decoration: none;
}
