.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c7c6c6;
  border-bottom: 3px solid #ddd;
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5em;
}

.home {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5em;
  cursor: pointer;
  text-decoration: none;
}

.profile {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.searchInput {
  padding: 0.5em;
  font-size: 1em;
  margin-right: 0.6em;
}

.loginButton {
  padding: 5px 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5em;
  cursor: pointer;
  color: black;
}

.link:hover,
.link:focus {
  color: purple;
  text-decoration: none;
}

.profile:hover,
.profile:focus {
  color: purple;
  text-decoration: none;
}

.loginButton {
  padding: 5px 10px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
}

.loginButton:hover,
.loginButton:focus {
  color: purple;
  text-decoration: none;
}

.dropdownItem {
  color: black;
  text-decoration: none;
}

.dropdownItem:hover,
.dropdownItem:focus {
  color: purple;
  text-decoration: none;
}
