.cart {
  margin: 1rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  width: 100%;
  position: relative;
  color: var(--color-lightest);
}

.cartIcon:hover,
.cartIcon:focus {
  color: var(--color-highlight);
  text-decoration: none;
}

.cartItems {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 250px;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-accent);
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 70vh;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-highlight);
  padding: 10px;
  background-color: var(--color-lightest);
  border-radius: 8px;
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.productInfo {
  text-align: center;
}

.productName {
  margin: 5px 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.productPrice {
  color: var(--color-primary);
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.buttonRemove {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-lightest);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.buttonRemove:hover,
.buttonRemove:focus {
  background-color: var(--color-highlight);
}

.totalContainer {
  margin-top: 10px;
}

.paymentMessage {
  color: green;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.totalPrice {
  font-size: 1.2rem;
  font-weight: bold;
}

.payButton {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-lightest);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.payButton:hover,
.payButton:focus {
  background-color: var(--color-highlight);
}
